<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561779388544-u8vs1tf8lnod2jg7cujom1cagvi0m88j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561779388544-u8vs1tf8lnod2jg7cujom1cagvi0m88j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>561779388544-6d13dh5ps6nuau675p3kfaog3r72j3ej.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxH0JU77KoZp1_TmWchb95d-bVk7DIMOA</string>
	<key>GCM_SENDER_ID</key>
	<string>561779388544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yafey.monoshop</string>
	<key>PROJECT_ID</key>
	<string>multi-store-965f8</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-store-965f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561779388544:ios:c836954b91cb61a39ef665</string>
	<key>DATABASE_URL</key>
	<string>https://multi-store-965f8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>